html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #2D6CC0;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

#header {
    background-color: #FFFFFF;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(255, 255, 255, .5), rgba(200, 200, 200, 1));
    text-align: center;
}

#sign_in_page {
    text-align: center;
    height: 100%;
}

#sign_in_panel {
    margin: auto;
    background-image: linear-gradient(to right, rgba(200, 200, 200, .75), rgba(255, 255, 255, .75), rgba(200, 200, 200, .75));
    border-radius: 5px;
    box-shadow: 1px 1px 5px #222222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sign_in_panel_bottom {
    background-color: #FFFFFF;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(255, 255, 255, .5), rgba(200, 200, 200, 1)); 
    border-top: 2px solid #FFFFFF; 
    height: 100%; 
    border-radius: 0 0 5px 5px; 
    padding: 15px 0 0;
}

#search_page {
	transition: margin-left .5s;
    height: 100%;
}

#calendar_page {
	transition: margin-left .5s;
    height: 100%;
}

#settings_page {
	transition: margin-left .5s;
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF; 
    background-image: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #C1C1C1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
